<h1 aling="center">Listing all recipes</h1>
<hr/>
<% @recipes.each do |recipe| %>
    <div class="row">
        <div class="col-nd-2">
            <section class="center">

            </section>
        </div>
        <div class="cold-nd-8 well">
            <h4><%= recipe.name %></h4>
            <p><%= truncate(recipe.description, length: 150) %></p>
            <p>
                <span class="quiet"><small>Created at: <%= time_ago_in_words(recipe.created_at) %></small></span>
            </p>
        </div>
    </div>
    
<% end %>